body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #3b3552, #483b8a);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    color: white;
}
.caja{
    width: 570px;
    height: 910px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 5%;
    backdrop-filter: blur(6px);
    display: grid;
    align-items: center;
    font-size: 32px;
    font-weight: bold;
    padding: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    padding-left: 20px;

}

.card {
    width: 350px;
    height: 100px;
    background: rgba(247, 247, 247, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 5%;
    backdrop-filter: blur(6px);
    display: flex;
    text-align:center;
    align-items: center;
    font-size: 32px;
    font-weight: bold;
    padding: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    padding-left: 200px;

}


.enlace {
    color: rgb(32, 32, 32);
    text-decoration: none;
    padding-left: 15px;

}

.tutorial{
    color: white;
    text-decoration: none;
    padding-left:60px;
}

header{
    background-color: #1f1c2c;
    backdrop-filter: blur(6px);
    width: 100%;
    max-width: 2000px; 
    height: auto;
    display: flex;
    align-items: center;
    padding: 20px 40px;
    font-size: 32px;     
    justify-content: center;
    font-weight: bold;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); 
    color: #ffffff; 
    margin: 0 auto; 

}
header h1{
    position: fixed;
}
img{
    width:100px;
    height:100px;
}
.interrogante{
    position: relative;
    left: 950px;
    display: flex;
    border-radius:20%;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2); 
    align-items: center;

}


.boton {
    padding: 10px 20px;
    margin-bottom: 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.boton:hover {
    background-color: #388E3C;
    transform: scale(1.05);
}

.estilo-claro header {
    background-color: rgba(255, 255, 255, 0.3);
    color: #e6e6e6;
}

.estilo-claro .card {
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: #000;
}

body.estilo-claro {
    background: linear-gradient(135deg, #3ba3d4, #7bbbc4);
}

.estilo-claro .enlace{
    color: rgb(214, 214, 214);
    text-decoration: none;
    padding-left: 15px;
}
.estilo-claro .card {
    width: 350px;
    height: 100px;
    background: rgba(253, 255, 255, 0.007);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 5%;
    backdrop-filter: blur(6px);
    display: flex;
    text-align:center;
    align-items: center;
    font-size: 32px;
    font-weight: bold;
    padding: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    padding-left: 200px;

}

